{% extends 'layout.html' %}

{% block header %}

<h1>DONACIONES</h1>

{% endblock %}

<!-- ***************************************************-->

{% block main %}

<div class="contenedor">





<!--????????????????????????????????????????????-->
<!--Ir a eventos para crear un evento y así poder hacer que donen-->
<h2>CREA UN EVENTO Y CONSIGUE DONACIONES!!!</h2>

<a href="{{ url_for('crearEvento') }}">CREAR EVENTO</a>

<!--????????????????????????????????????????????-->
</div>


{% endblock %}

{% block footer %}


{% endblock %}