{% extends 'layout.html' %}

{% block header %}

<!--?????????????????????????????????????????????????????-->

<!--Logotipo que si le das click de vuelve a la pagina principal-->

{% set logoR = 'svg/' +  logo  + '.png' %}

    <img src="{{ url_for('static', filename=logoR)}}" alt="">

<!--??????????????????????????????????????-->

<!--Buscador-->

<!--??????????????????????????????????????-->

<!--Barra de configuración, solo sale si estas ingresado, te mostrara las opciones de
perfil, configuración, nivel, seguidores, eventos pendientes
-->

<!--TODO *******************************-->

{% if usuario_existe == True %}

<a href="{{ url_for('perfil') }}">perfil</a>

{% endif %}

<!--TODO *******************************-->

{% if usuario_existe == False %}

<!--??????????????????????????????????????-->

<!--ingresar-->

<a href="{{ url_for('usuario') }}">Log In</a>

<!--??????????????????????????????????????-->

<!--Registrarse-->

<a href="{{ url_for('registro') }}">Registrarse</a>

{% endif %}

<!--TODO *******************************-->

<!--??????????????????????????????????????-->

{% endblock %}

<!-- ***************************************************-->

{% block main %}

<!--********************************************************************-->

<div class="contenedor">

<!--??????????????????????????????????????-->

<!--Barra lateral, que nos servira para ir a los distintos templates, esta con javascript para desplegala cuando el usuario lo solicite-->

<aside>

    <ul>

        <li>

            <a href="{{ url_for('eventos') }}">Eventos</a>
        </li>

        <li>

            <a href="{{ url_for('noticias') }}">noticias</a>
        </li>

        <li>

            <a href="{{ url_for('educacion') }}">educacion</a>
        </li>

        <li>

            <a href="{{ url_for('crearEvento') }}">crear Evento</a>
        </li>

        <li>

            <a href="{{ url_for('reciclar') }}">Reciclar</a>
        </li>

        <li>

            <a href="{{ url_for('denuncia') }}">Denunciar</a>
        </li>

        
    </ul>


</aside>

<!--??????????????????????????????????????-->

<!--Sección donde se habla un poco de que trata la página-->

<section>


</section>


<!--??????????????????????????????????????-->

<!--Barra lateral de redes sociales-->




<!--??????????????????????????????????????-->



</div>

<!--********************************************************************-->


{% endblock %}

{% block footer %}

<!--********************************************************************-->


<!--********************************************************************-->


{% endblock %}